PORT=3000

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=vite_gourmand
PG_USER=postgres
PG_PASSWORD=votre_mot_de_passe

# MongoDB
MONGO_URI=mongodb://localhost:27017/vite_gourmand

# JWT
JWT_SECRET=votre_secret_jwt_tres_long_et_securise

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=votre@email.fr
EMAIL_PASS=votre_mot_de_passe_email